.navbar{
    box-shadow: 1px 7px 17px -3px grey;
    justify-content: flex-end!important;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0px;
}
.logoutModel{
    position: absolute;
    right: 15px;
    padding: 5px 20px 5px 17px;
    z-index: 10;
    background-color: whitesmoke;
    border-radius: 5px;
    display: none;
}

.logoutModel p{
    margin: 0px;
}

#idLogoutModel:hover .logoutModel{
    display: block;
}
.col{
    padding: 0px;
}
.logout-model-item{
    cursor: pointer;
}
.logout-model-item:hover{
    color: #007bff!important;
}
