.side-bar-wrapper{
    background-color:#1167aa ;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.sidebar-header{
    color: white;
    text-align: center;
    padding: 20px 5px 10px 5px;
}
.nav-wrapper{
   
}

.nav-link{
    width: 100%;
    color: white!important;
    font-size: 16px;
    border-bottom: solid 1px #9393ad;
}
.nav-link:hover{
    background-color: #064372;
}
.col{
    padding: 0px;
}
.icon-sidebar{
    margin-right: 14px;
}
a{
    color: white!important;
    text-decoration: none !important;
}
