.main-login{
    background-color: whitesmoke;
    width: 35%;
    margin: auto;
    height: auto;
    margin-top: 100px;
}
.login-box{
    box-shadow: 4px 3px 9px 1px #808080d9;
    padding: 20px;
}
.container-fluid{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(8,116,129,1) 0%, rgba(0,212,255,1) 100%);
}
.heading{
    text-align: center;
    font-size: 35px;
    margin: 0px;
    font-weight: bold;
    font-family: cursive;
}