.container{
    min-height: 100vh;
}

.content-wrapper{
    background-color: #eaeff1;
}
.main-content{
    padding: 20px 10px 20px 10px;
    margin: 0px;
}
.container-fluid{
    min-height: 100vh;
    width: 100vw;
}
.wrapper{
    min-height: 100vh;
}
.col{
    padding: 0px!important;
}
.container-fluid{
    overflow-x: hidden;
    overflow-y: hidden;
}