.container{
    min-height: 100vh;
}

.content-wrapper{
    background-color: #eaeff1;
}
.row{
    margin: 0px!important;
}
.main-content{
    padding: 20px 20px 10px 20px;
    margin: 0px;
    width: 100%;
}
.container-fluid{
    padding: 0px!important;
    min-height: 100vh;
}
.wrapper{
    min-height: 100vh;
}
.col{
    padding: 0px;
}
.container-fluid{
    overflow-x: hidden;
    overflow-y: hidden;
}
.heading{
    margin-bottom: 20px!important;
    margin-top: 15px!important;
    color: #4a4a4a;
}

.img{
    height: 130px;
    object-fit: scale-down;
}
.table{
    box-shadow: 3px 6px 18px 0px grey;
}
.btn-option{
    margin: 5px;
}
td{
    text-align: center;
    vertical-align: middle!important;
}
.right-btn{
    right: 0px;
    position: absolute;
    margin-right: 20px;
}

.model{
    position: absolute;
    width: 90%;
    background-color: whitesmoke;
    z-index: 10;
    height: auto;
    top: 10rem;
    box-shadow: 0px 0px 7px 0px #9E9E9E;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-height: 10rem;
    border-radius: 0.3rem;
    transition: opacity 600ms, visibility 600ms;
    visibility: hidden;
    opacity: 0;
}

.model-add-category{
    position: absolute;
    z-index: 99;
    background-color: whitesmoke;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    visibility: hidden;
    margin-top: 25px;
    box-shadow: 2px 0px 13px 2px grey;
    padding: 20px 15px 25px 15px;
    border-radius: 4px;
    transition: opacity 600ms, visibility 600ms;
    opacity: 0;
}
